/* Main page styles */

#main {
  display: grid;
  grid-template-rows: 100vh auto 40vh;
  height: auto;
  font-size: 14pt;
  background-color: rgba(255, 255, 255, 1);
}

/* Main Children Styles */

#p-head {
  grid-row-start: 1;
  grid-row-end: 1;
  display: grid;
  grid-template-rows: 25% 75%;
}

#p-body {
  grid-row-start: 2;
  grid-row-end: 2;
  position: relative;
  margin-left: 2em;
  margin-right: 2em;
}

#footer-placeholder {
  grid-row-start: 3;
  grid-row-end: 3;
}

/* I Head Children */

#p-head-modal {
  display: grid;
  grid-template-rows: 60% 40%;
}

#p-head-info {
  display: flex;
  align-items: center;
}

#p-head-picture {
  display: flex;
  align-items: center;
}

#p-divider-arrow-image {
  width: 100%;
  height: auto;
}

/* Project Container Styles */

.project-container-super {
  height: 500px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 10px;
  background: rgba(187, 187, 187, 0.55); 
}

.project-container-colour {
  height: 100%;
  width: 100%;

}