/* Main page styles */

#main {
  display: grid;
  grid-template-rows: 100vh auto 50vh 40vh;
  font-size: 14pt;
  background-color: rgba(255, 255, 255, 1);
}

/* Main Children Styles */

#p-head {
  grid-row-start: 1;
  grid-row-end: 1;
  display: grid;
  grid-template-rows: 25% 75%;
}

#p-body {
  grid-row-start: 2;
  grid-row-end: 2;
  overflow: hidden;
  position: relative;
}

#p-extra {
  position: relative;
}

#footer-placeholder {
  grid-row-start: 4;
  grid-row-end: 4;
}

/* I Head Children */

#p-head-modal {
  display: grid;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 3em;
  margin-bottom: 3em;
  grid-template-rows: 70% 30%;
}

#p-head-info {
  display: flex;
  align-items: center;
}

#p-head-picture {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#p-divider-arrow-image {
  width: auto;
  height: 100%;
}

/* Project Container Styles */

.project-container-super {
  height: 500px;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 10px;
  background: rgba(187, 187, 187, 1); 
  display: grid;
  grid-template-rows: 20% 70% 10%;
}

.project-container-colour {
  height: 100%;
  width: 100%;
}

/* Project Container Children */

.pc-row-one {
  grid-row-start: 1;
  grid-row-end: 1;
  display: grid;
  grid-template-columns: 40% 60%;
}

.pc-row-two {
  grid-row-start: 2;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 40% 60%;
}

.pc-row-three {
  grid-row-start: 3;
  grid-row-end: 3;
}

/* Title and Timeline */

#p-card-title {
  grid-column-start: 1;
  grid-column-end: 1;
}

#p-time-details-super {
  grid-column-start: 2;
  grid-column-end: 2;
  display: flex;
  justify-content: left;
}

#p-time-details {
  display: grid;
  grid-template-columns: 50% 50%;
}

#p-card-subtitle {
  grid-column-start: 1;
  grid-column-end: 1;
}

#p-card-subtitle1 {
  grid-column-start: 2;
  grid-column-end: 2;
}

/* Picture and Description */

#p-card-image-h {
  grid-column-start: 1;
  grid-column-end: 1;
  height: 100%;
  overflow: hidden;
  margin-right: 0.5em;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#p-card-image {
  height: auto;
  width: 100%;
}

#p-card-detail-text {
  grid-column-start: 2;
  grid-column-end: 2;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Description and Technology */

#p-tech-details {
  position: absolute;
  bottom: 0px;
}

/* Projects background image styles */

#p-body-gif {
  position: absolute;
  height: 100%
}

#p-body-color {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  height: 100%;
  width: 100%;
}

#p-content {
  margin-left: 4em;
  margin-right: 4em;
  position: relative;
}
